.button-container-1 {
  display: flex;
  justify-content: flex-start;
  margin: 10px 80px;
}
.button-top {
  padding: 5px;
  margin: 2px;
}

.button1 {
  padding: 5px;
  margin: 2px;
  background-color: transparent;
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
}

.horizontal {
  width: 5px;
  height: 30px;
  background-color: lightgrey;
  border-radius: 2px;
  border: none;
}

.button-2 {
  background-color: lightgrey;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  border: none;
}
